<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m0609" >

  <xacro:arg name="color"   default="white"/>
  <xacro:arg name="gripper" default="rg2"/>
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="host" default=""/>
  <xacro:arg name="port" default=""/>
  <xacro:arg name="rt_host" default=""/>
  <xacro:arg name="mode" default=""/>
  <xacro:arg name="model" default=""/>

  <xacro:property name="gz" value="$(arg use_gazebo)"/>
  <xacro:property name="cr" value="$(arg color)"/>
  <xacro:property name="gr" value="$(arg gripper)"/>
  <xacro:property name="host" value="$(arg host)"/>
  <xacro:property name="rt_host" value="$(arg rt_host)"/>
  <xacro:property name="port" value="$(arg port)"/>
  <xacro:property name="mode" value="$(arg mode)"/>
  <xacro:property name="model" value="$(arg model)"/>

  <xacro:if value="${cr == 'white'}">
     <xacro:include filename="$(find dsr_description2)/xacro/macro.m0609.white.xacro" />
  </xacro:if>
  <xacro:if value="${cr == 'blue'}">
     <xacro:include filename="$(find dsr_description2)/xacro/macro.m0609.blue.xacro" />
  </xacro:if>

  <xacro:if value="${gr == 'rg2'}">
    <xacro:include filename="$(find rg2_description)/urdf/rg2_gripper.macro.xacro" />
    <xacro:rg2_gripper parent="tool0" />
    <xacro:include filename="$(find rg2_description)/urdf/rg2.gazebo.xacro"/>
    <xacro:include filename="$(find rg2_description)/urdf/rg2.ros2_control.xacro"/>
  </xacro:if>
  <link name="tool0"/>
  <joint name="joint_6-tool0" type="fixed">
    <parent link="link_6"/>
    <child link="tool0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- 필요 시 조정 -->
  </joint>

  <xacro:m0609 namespace="$(arg namespace)"/>

  <link name="world" />
  <!-- World fixed joint-->
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
  <xacro:if value="${gz}">
    <xacro:include filename="$(find dsr_description2)/ros2_control/m0609.gz_ros2_control.xacro" />
    <xacro:m0609_gz_ros2_control namespace="$(arg namespace)"/>
  </xacro:if>
  <xacro:unless value="${gz}">
    <xacro:include filename="$(find dsr_description2)/ros2_control/m0609.ros2_control.xacro" />
    <xacro:m0609_ros2_control
      name="m0609"
      host="${host}"
      rt_host="${rt_host}"
      port="${port}"
      mode="${mode}"
      model="${model}"
    />
  </xacro:unless>

</robot>
